<style>
.site-header__logo img{ width:{{ section.settings.logo_max_width }}px;}
</style>


{% if settings.color_header_bg == "rgba(0,0,0,0)" and settings.color_nav_home == "#ffffff" and section.settings.header_position == "fixed" %}
{% assign colorFix = "color-fix" %}
{% endif %}

{% include 'nav-drawer' %}
{% include 'cart-drawer' %}

{% if section.settings.top_bar_text != blank %}
<div  data-section-id="{{ section.id }}"  data-section-type="top-bar" class = "top-bar wrapper">
  <p>{{section.settings.top_bar_text | truncatewords: 50 }}</p>
</div>
{% endif %}

<header class="site-header is-moved-by-drawer {{section.settings.header_position}} {{ colorFix }}" role="banner" data-section-id="{{ section.id }}"  data-section-type="header" data-position="{{section.settings.header_position}}">

	<div class="wrapper {% if section.settings.top_bar_text != blank %}site-header-wrapper{% endif %}">
		<div class="grid--full grid--table">
		{% include 'site-logo' %}
		{% include 'site-nav' %}
		</div>
	</div>
  <div class="space-maker"></div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "header-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "header_position",
      "label": "Position",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "Stick to top on scroll"
        },
        {
          "value": "relative",
          "label": "Hide on scroll"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    },
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Link list",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Logo width",
      "default": "100",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name"
    },
    {
      "type": "richtext",
      "id": "top_bar_text",
      "label": "Top bar text"      
    }
  ]
}
{% endschema %}