<!-- /sections/product-template.liquid -->

{% comment %}
Rich snippets
{% endcomment %}
<div itemscope itemtype="http://schema.org/Product">
<meta itemprop="name" content="{{ product.title }}">
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

{% comment %}
Establish thumbnail grid
{% endcomment %}
{% assign thumbnailLength = product.images | size %}

{% comment %}
Hide if there are no variant images
{% endcomment %}
{% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% if thumbnailLength == 1 %}
  {% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% elsif thumbnailLength == 2 %}
  {% assign thumbnailColumns = 'grid__item push--large--one-quarter large--one-quarter medium-down--one-half' %}
{% elsif thumbnailLength == 3 %}
  {% assign thumbnailColumns = 'grid__item one-third' %}
{% elsif thumbnailLength > 3 %}
  {% assign thumbnailColumns = 'grid__item one-quarter' %}
{% endif %}

{% comment %}
Set main product image height
{% endcomment %}
<style>
.featured-image {
  max-height:{{ section.settings.main_image_height | remove: 'px' | append: 'px' }} !important;
}
</style>

{% comment %}
Get first variant, or deep linked one
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
<div class="grid--full product-single wrapper product--{{section.id}}" data-section-type="product-template" data-section-id="{{section.id}}">
<div class = "grid__item">

<!-- Product Photos -->
<div class = "grid">
<div class="grid__item product-images large--{{ section.settings.product_image_width }} text-center">
  <div class="product-single__photos" id="ProductPhoto">
    <div class = "product-page-table">
      <div class = "cell">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <div class="popup-gallery" >
          <div class = "product-page-frame frame frame--{{section.id}}">
            <img src="{{ featured_image | img_url: 'original' }}" data-mfp-src = "{{ featured_image.src | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" class = "mfp-zoom-in-cur productvarimg lazyload featured-image featured-image--{{section.id}}" id="{{featured_image.id}}">
            {% assign featured_image_id = featured_image.id %}
            {% for image in product.images %}
              {% if image.id != featured_image_id %}
                <img src="{{ image.src | img_url: 'original' }}" alt="{{ image.alt | escape }}" data-mfp-src ="{{ image.src | img_url: 'master' }}" id="{{image.id}}" class = "hide mfp-zoom-in-cur featured-image featured-image--{{section.id}}">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Product Thumbnails -->
  {% if product.images.size > 1 %}
  {% if section.settings.product_image_width == 'one' %}
    {% assign thumbs_width = 'large--one-third push--large--one-third medium-down--one-whole' %}
  {% endif %}
    <div class="product-single__thumbnails grid--full gallery" id="ProductThumbs">
      <div class = "grid__item {{ thumbs_width }}">
        <div class = "grid-uniform">
          <div class="{{ thumbnailColumns }} thumbnail-wrapper active-thumbnail">
            <a href="{{ featured_image.src | img_url: 'original' }}" class="product-single__thumbnail">
              <img data-id="{{featured_image.id}}" src="{{ featured_image.src | img_url: '400x' }}" data-action="show-product-image" alt="{{ featured_image.alt | escape }}" class = "alt-image">
            </a>
          </div>
          {% for image in product.images %}
            {% if image.id != featured_image.id %}
              <div class="{{ thumbnailColumns }} thumbnail-wrapper">
                <a href="{{ image.src | img_url: 'original' }}" class="product-single__thumbnail">
                  <img data-id="{{image.id}}" src="{{ image.src | img_url: '400x' }}" data-action="show-product-image" alt="{{ image.alt | escape }}" class = "alt-image">
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
<!-- Product Description -->
<div class="grid__item large--{{ section.settings.product_image_width }} text-center product-description-wrapper">
  <h1 class="product-title" itemprop="name">{{ product.title }}</h1>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
    
    <!-- Product Form Snippet -->
    {% include 'product-form' %}
  </div>
</div>
</div>
</div>
</div>
</div>

<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>

<script>
window.product = {{ product | json }};
window.product.money_format = "{{ shop.money_format }}";
window.product.add_label = {% if product.options.size == 1 %}true{% else %}false{% endif %};
window.product.label = "{{ product.options.first | escape }}";
window.selectCallback = PaloAlto.onVariantSelected;
</script>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "select",
      "label": "Product image width",
      "id": "product_image_width",
      "options": [
        {
          "value": "one-half",
          "label": "50%"
        },
        {
          "value": "one",
          "label": "100%"
        }
      ]
    },
    {
      "type": "text",
      "id": "main_image_height",
      "label": "Max image height (desktop only)",
      "default": "300",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing_products",
      "label": "Show social sharing buttons",
      "default": true
    }
  ]
}
{% endschema %} 